html {
  overflow: hidden;
  padding: 0px;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container > .login,
.main-container > .hero-body {
  height: auto;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
}

.form-inline {
  display: inline-flex;
}

.page {
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0px 5rem 50px 5rem;
  transition: margin-top 0.5s ease;
  min-height: 100vh;
}

@media (min-width: 0px) and (max-width: 1000px) {
  .page {
    padding: 0px 1rem 50px 1rem;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  letter-spacing: 1px;
  margin-bottom: 0px !important;
}

.subtitle {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  max-width: 75ch;
}

.articles-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 35px;
  background-color: #f8640359;
  padding: 45px;
}

/* // - Article - // */
.article {
  /* border: 1px solid #434051; /* Color del borde del artículo */
  border-radius: 5px;
  position: relative;
}

.article:not(:last-child)::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #0000001a;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
}

.article-container {
  display: flex;
  padding-bottom: 50px;
  gap: 20px;
  max-width: 1300px;
}

.article .container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px;
}

.web-title {
  position: relative;
  display: inline-block;
}

.web-title::before {
  content: attr(data-title);
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  background-color: #f86403;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  -webkit-box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
}

.mobile-title {
  display: none;
}

.subtitle-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.container-subtitle-wrapper {
  gap: 20px !important;
}

@media (min-width: 0px) and (max-width: 900px) {
  .articles-container {
    padding: 20px 10px;
  }

  .article-container {
    flex-direction: column;
  }

  .web-title {
    display: none;
  }

  .mobile-title {
    position: relative;
    display: inline-block;
  }

  .mobile-title::before {
    content: attr(data-title);
    position: absolute;
    top: -15px;
    left: -15px;
    width: 30px;
    height: 30px;
    background-color: #f86403;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    -webkit-box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
  }
}

.article .title {
  background-color: #f86403; /* Mismo color del borde del artículo como fondo */
  color: #ffffff; /* Letras en color blanco */
  width: 100%;
  padding: 5px 30px;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.welcome-text {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  max-width: 75ch;
}

.explore-link {
  display: none;
  text-transform: uppercase;
}

@media (min-width: 0px) and (max-width: 430px) {
  .explore-link {
    color: #ff6500;
    text-decoration: none;
    font-weight: bold;
    background-color: #434051;
    padding: 10px;
    border-radius: 15px;
    display: inline;
  }
}

.footer {
  background-color: #434051;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer p {
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ff6500;
}
