html {
  overflow: hidden;
  padding: 0px;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  padding: 0 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container > .login,
.main-container > .hero-body {
  height: auto;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
}

.form-inline {
  display: inline-flex;
}

.page {
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: margin-top 0.5s ease;
}

/* // - Article - // */
.article {
  border: 5px solid #434051; /* Color del borde del artículo */
  border-radius: 5px;
}

.article .title {
  background-color: #434051; /* Mismo color del borde del artículo como fondo */
  color: #ffffff; /* Letras en color blanco */
  border-bottom-right-radius: 5px;
  width: max-content;
  padding: 5px;
}

.article .container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px;
}
