.trick-card {
  width: 100%;
  max-height: 60px;
  cursor: pointer;
  background-color: #f8640359;
}

.trick-content {
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  position: relative;
}

.trick-content.active {
  transform: rotateY(180deg);
}

.front,
.back {
  color: #434051;
  text-align: left;
  backface-visibility: hidden;
  position: absolute;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 0px !important;
}

.front {
  background: #f8640340;
  transform: rotateY(0deg);
}

.back {
  background: #434051;
  color: white;
  transform: rotateY(180deg);
  padding: 30px 15px 15px 15px;
}

.back::after {
  content: attr(data-title);
  position: absolute;
  top: 10px;
  left: 15px;
  font-weight: 800;
  font-size: 0.6rem;
  color: #f86403;
  border-radius: 5px 5px 0 0;
}
