.trick-card {
  width: fit-content;
  height: auto;
  cursor: pointer;
  background-color: #f8640359;
}

.trick-card-content {
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  transition: transform 0.5s;

  display: flex;
  flex-direction: column;
}

.trick-card-content.active {
  transform: rotateY(180deg);
}

.front,
.back {
  color: white !important;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
  backface-visibility: hidden;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 0px !important;
}

.front {
  order: 1;
  background: #ff650036;
  transform: rotateY(0deg);
  color: white !important;
}

.back {
  order: 2;
  display: none;
  background: #434051;
  color: white;
  transform: rotateY(180deg);
  padding: 30px 15px 15px 15px;
  width: 100%;
}

.back::after {
  content: attr(data-title);
  position: absolute;
  top: 10px;
  left: 15px;
  font-weight: 800;
  font-size: 0.6rem;
  color: #f86403;
  border-radius: 5px 5px 0 0;
}

.do-login-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.do-login-ancor {
  color: #f86403;
  font-weight: 800;
  font-size: 0.8rem;
  text-decoration: none;
}

.do-login-ancor:hover {
  color: #f86403;
  text-decoration: underline;
}

.trick-card-content.active .front {
  display: none;
}

.trick-card-content.active .back {
  display: block;
}
